<div class="container spacer">
  <!-- ici la boucle-->
  <div class="card ">
    <div class="card-header">{{question.question}}</div>
    <div class="card-body">
      <button    [routerLink]="['/userQuizzs/',utilsvc.crypt(this.iduser)]" class="btn btn-info btn-spacer" ><i class="fa fa-backward"></i> Retour à la liste</button>
      <button [routerLink]="['/updateQuestion/',utilsvc.crypt(question.id_question)]" class="btn btn-warning btn-spacer" ><i class="fa fa-edit"></i> Modifier</button>
      <table class="table spacer" >
        <tr>
          <th>Ajouter Indice</th><th>Liste d'Indices </th><th>Ajouter Réponse</th><th>Liste de Réponses </th>
        </tr>
        <tr>
          <td><button    [routerLink]="['/addIndice/',utilsvc.crypt(question.id_question)]" class="btn btn-success btn-spacer" ><i class="fa fa-plus"></i> Add Indice</button></td>
          <td><button    [routerLink]="['/questionIndices/',utilsvc.crypt(question.id_question)]" class="btn btn-primary btn-spacer" ><i class="fa fa-list"></i> Indices</button></td>
          <td><button    [routerLink]="['/addReponse/',utilsvc.crypt(question.id_question)]" class="btn btn-success btn-spacer" ><i class="fa fa-plus"></i> Add Réponse</button></td>
          <td><button    [routerLink]="['/questionReponses/',utilsvc.crypt(question.id_question)]" class="btn btn-primary btn-spacer" ><i class="fa fa-list"></i> Réponses</button></td>
        </tr>
      </table>

    </div>

  </div>
  <!-- fin de la boucle-->
</div>


