<div class="container spacer">

  <div class="card ">
    <div class="card-header">Indices d'une Question</div>
    <div class="card-body">
      <table class="table table-striped">
        <tr>
          <th>Indice</th><th>Modifier</th><th>Supprimer</th>
        </tr>
        <tr *ngFor="let ind of pageIndices">
          <td>{{ind.indice}}</td>
          <td>
            <button [routerLink]="['/updateIndice/',ind.id_indice]" class="btn btn-warning btn-spacer" ><i class="fa fa-edit"></i> Modifier</button>
          </td>
          <td>
            <button (click)="deleteIndice(ind.id_indice)" class="btn btn-danger btn-spacer" ><i class="fa fa-trash"></i> Supprimer</button>
          </td>
        </tr>

      </table>
    </div>

  </div>
</div>

