<div class="container spacer" xmlns="http://www.w3.org/1999/html">

  <div class="card ">
    <div class="card-header">Tableau de bord : Élève</div>
    <div class="card-body">
      <button    [routerLink]="['/listQuizzs/',utilsvc.crypt(this.iduser)]" class="btn btn-primary btn-spacer" ><i class="fa fa-list"></i> Liste des Quizzs</button>
      <button [routerLink]="['/updateUser/',utilsvc.crypt(this.iduser)]" class="btn btn-warning btn-spacer" ><i class="fa fa-edit"></i> Modifier mon Profile</button>
      <button    [routerLink]="['/revision/',utilsvc.crypt(this.iduser)]" class="btn btn-dark btn-spacer" ><i class="fa fa-check"></i> Révisions</button>
    </div>

  </div>
</div>
