
<div class="container spacer">
  <div class="card " *ngIf="loaded === true">
    <div class="card-header">Quizz  : Mode Compétition</div>
    <div class="card-body">
      <div class="card ">
        <div class="card-header">{{question}}</div>
        <div class="card-body">
          <ul class="list-group list-group-flush" *ngFor="let rep of reponses">
            <li class="list-group-item"> {{rep}} </li>
          </ul>

          <form #f="ngForm" (ngSubmit)="sendMessage(text.value)">

            <div class="form-group row spacer">
              <label class="col-sm-2 col-form-label">Réponse :</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Votre réponse ici" #text />
              </div>
            </div>


            <button [disabled]="!f.valid" class="btn btn-success btn-spacer" type="submit">Répondre</button>

          </form>
          <div class="spacer" *ngIf="htmlToAdd !=''">
            <div class="alert alert-warning" role="alert" >{{htmlToAdd}}</div>
          </div>
          <div class="spacer" *ngIf="badAnswer !=''">
            <div class="alert alert-secondary" role="alert" >{{badAnswer}}</div>
          </div>

        </div>

      </div>
    </div>

  </div>
  <div class="card " *ngIf="loaded === false">
    <div class="card-header">Quizz : Mode Compétition</div>
      <div class="card-body">
        <div class="spacer">
          <div class="alert alert-danger" role="alert" >En attente de préparation de joueurs...</div>
          <button  (click)="loadQuizz()"  class="btn btn-info btn-spacer" >LoadQuizz</button>
        </div>
      </div>
  </div>

</div>


