<div class="container spacer">

  <div class="card ">
    <div class="card-header">Liste des Quizzs</div>
    <div class="card-body">
      <table class="table table-striped">
        <tr>
          <th>Niveau</th><th>Matière</th><th>Période</th><th>Commencer Quizz</th>
        </tr>
        <tr *ngFor="let q of pageQuizzs">
          <td>{{q.niveau}}</td>
          <td>{{q.matiere}}</td>
          <td>{{q.periode}}</td>
          <td><button    [routerLink]="['/quizzLoad/',q.id_quizz]" class="btn btn-info btn-spacer" ><i class="fa fa-play"></i> Commencer Quizz</button></td>
        </tr>

      </table>
    </div>

  </div>
</div>

