
<div class="container spacer">

  <div class="card ">
    <div class="card-header">Ajouter une Reponse</div>
    <div class="card-body">
      <button    [routerLink]="['/showQuestion/',utilsvc.crypt(this.idquestion)]" class="btn btn-info btn-spacer" ><i class="fa fa-backward"></i> Retour au détails de la question</button>
      <div class="spacer"></div>
      <form #f="ngForm" (ngSubmit)="addReponse(f.value)">

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">Reponse :</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Réponse" ngModel name="reponse" required/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-sm-2 col-form-label">isCorrect :</label>
          <input type="radio"   name="correct"   ngModel value="false">
          <label  >False</label>
          <input type="radio"   name="correct" ngModel value="true" >
          <label  >True</label>
        </div>

        <button [disabled]="!f.valid" class="btn btn-success btn-spacer" type="submit">Ajouter</button>
        <button class="btn btn-warning btn-spacer" type="reset">Effacer</button>

      </form>
    </div>

  </div>
</div>



