
<div class="container spacer">
  <div class="card " *ngIf="loaded === true">
    <div class="card-header">Quizz  : Mode Solo</div>
    <div *ngIf="image!='no-media'">
      <img  [src]="'data:image/jpg;base64,'+image" style="display: block; margin-left: auto; margin-right: auto; width: 50%;"  />
    </div>
    <div class="spacer"></div>
    <div class="card-body">
      <div class="card ">
        <div class="card-header">{{question}}</div>
        <div class="card-body">
          <ul class="list-group list-group-flush" *ngFor="let rep of reponses">
            <li class="list-group-item"> {{rep}} </li>
          </ul>

          <form #f="ngForm" (ngSubmit)="sendReponse(textRep.value); textRep.value=''">

            <div class="form-group row spacer">
              <label class="col-sm-2 col-form-label">Réponse :</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Votre réponse ici" #textRep />
              </div>
            </div>

            <button [disabled]="!f.valid" class="btn btn-success btn-spacer" type="submit"  >Répondre</button>

          </form>
          <div class="spacer"></div>
          <button  class="btn btn-warning btn-spacer" (click)="sendIgnore()">Ignorer</button>
          <div class="spacer" *ngIf="htmlToAdd !=''">
            <div class="alert alert-warning" role="alert" >{{htmlToAdd}}</div>
          </div>
          <div class="spacer" *ngIf="badAnswer !=''">
            <div class="alert alert-secondary" role="alert" >{{badAnswer}}</div>
          </div>

        </div>

      </div>
    </div>

  </div>
  <div class="card " *ngIf="loaded === false">
    <div class="card-header">Quizz : Mode Solo</div>
    <div class="card-body">
      <div class="alert alert-danger" role="alert" >Vous-êtes prêt ? Appuyez sur Commencer...</div>
      <button  (click)="loadQuizz()"  class="btn btn-info btn-spacer" >Commencer</button>
      <div class="spacer" *ngIf="error !=''">
        <div class="alert alert-danger" role="alert" >{{error}}</div>
      </div>
    </div>
  </div>

</div>


