<div class="container spacer">

  <div class="card " *ngIf="mode==1">
    <div class="card-header">Modifier Quizz</div>
    <div class="card-body">

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Matière :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  [(ngModel)]="quizz.matiere" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Niveau :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  [(ngModel)]="quizz.niveau" />
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Période :</label>
        <div class="col-sm-10">
          <input type="text" class="form-control"  [(ngModel)]="quizz.periode" />
        </div>
      </div>


      <button  (click)="editQuizz()" class="btn btn-warning btn-spacer" ><i class="fa fa-edit"></i> Modifier</button>

    </div>

  </div>

  <div class="card " *ngIf="mode==2">
    <div class="card-header">Récapitulatif de modifications</div>
    <div class="card-body">


      <div class="form-group row">
        <label class="col-sm-2 col-form-label font-weight-bold">Matière :</label>
        <div class="col-sm-10">
          <label class="col-sm-10 col-form-label">{{quizz.matiere}}</label>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label font-weight-bold">Niveau :</label>
        <div class="col-sm-10">
          <label class="col-sm-10 col-form-label">{{quizz.niveau}}</label>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label font-weight-bold">Période :</label>
        <div class="col-sm-10">
          <label class="col-sm-10 col-form-label">{{quizz.periode}}</label>
        </div>
      </div>

      <button    [routerLink]="['/userQuizzs/', utilsvc.crypt(quizz.user.id)]" class="btn btn-info btn-spacer" ><i class="fa fa-info"></i> Revenir à Mes Quizzs</button>

    </div>

  </div>




</div>
