<div class="container spacer">

  <button routerLink="/login" class="btn btn-primary btn-spacer">Login</button>
  <button routerLink="/about" class="btn btn-primary btn-spacer">About</button>
  <button routerLink="/inscription" class="btn btn-primary btn-spacer">Inscription</button>
  <button routerLink="/adminDashboard" class="btn btn-primary btn-spacer">Admin DashBoard</button>
  <button routerLink="/eleveDashboard" class="btn btn-primary btn-spacer">Eleve DashBoard</button>
  <button routerLink="/enseignantDashboard" class="btn btn-primary btn-spacer">Enseignant DashBoard</button>
</div>
<router-outlet></router-outlet>



