<div class="container spacer">

  <div class="card ">
    <div class="card-header">Ajouter un media</div>
    <div class="card-body">

      <button    [routerLink]="['/showQuestion/',utilsvc.crypt(this.idquestion)]" class="btn btn-info btn-spacer" ><i class="fa fa-backward"></i> Retour au détails de la question</button>
      <div class="spacer"></div>

      <div *ngIf="currentFileUpload" class="progress">
        <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
             aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
          {{progress.percentage}}%</div>
      </div>

      <label class="btn btn-default">
        <input type="file" (change)="selectFile($event)">
      </label>

      <button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Ajouter</button>


      <div class="spacer" *ngIf="errorMsg !=''">
        <div class="alert alert-danger" role="alert" >{{errorMsg}}</div>
      </div>
      <div class="spacer" *ngIf="successMsg !=''">
        <div class="alert alert-success" role="alert" >{{successMsg}}</div>
      </div>
    </div>

  </div>
</div>
