<div class="container spacer">

  <div class="card ">
    <div class="card-header">Questions</div>
    <div class="card-body">
      <button    [routerLink]="['/userQuizzs/',utilsvc.crypt(this.iduser)]" class="btn btn-info btn-spacer" ><i class="fa fa-backward"></i> Retour à la liste</button>
      <div class="spacer"></div>
      <div *ngIf="hasQuestions == true">
        <table class="table ">
          <tr>
            <th>Question</th><th>Détails</th><th>Modifier</th><th>Supprimer</th>
          </tr>
          <tr *ngFor="let quest of pageQuestions">
            <td>{{quest.question}}</td>
            <td><button    [routerLink]="['/showQuestion/',utilsvc.crypt(quest.id_question)]" class="btn btn-info btn-spacer" ><i class="fa fa-info"></i> Détails</button></td>
            <td>
              <button [routerLink]="['/updateQuestion/',utilsvc.crypt(quest.id_question)]" class="btn btn-warning btn-spacer" ><i class="fa fa-edit"></i> Modifier</button>
            </td>
            <td>
              <button (click)="deleteQuestion(quest.id_question)" class="btn btn-danger btn-spacer" ><i class="fa fa-trash"></i> Supprimer</button>
            </td>
          </tr>

        </table>
      </div>


      <div class=" alert alert-danger" *ngIf="hasQuestions == false">
        Ce Quizz n'as pas de question...<button    [routerLink]="['/addQuestion/',utilsvc.crypt(idquizz)]" class="btn btn-success btn-spacer" ><i class="fa fa-plus"></i> Add Question</button>
      </div>
    </div>

  </div>
</div>

