<div class="container spacer">
  <div class="card ">
    <div class="card-header">Passer un Quizz</div>
    <div class="card-body">
      <div class="card ">
        <div class="card-header">{{pageQuestion?.question}}</div>
        <div class="card-body">
          <ul class="list-group list-group-flush" *ngFor="let rep of pageReponses">
            <li class="list-group-item">{{rep.reponse}}</li>
          </ul>

          <form #f="ngForm" (ngSubmit)="repondre(f.value)">

            <div class="form-group row spacer">
              <label class="col-sm-2 col-form-label">Réponse :</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Votre réponse ici" ngModel name="reponse"/>
              </div>
            </div>

            <button [disabled]="!f.valid" class="btn btn-success btn-spacer" type="submit">Répondre</button>

          </form>


        </div>

      </div>
    </div>

  </div>
</div>


